@charset "UTF-8";
strong {
	font-size: 1.125em;
}

.register-container {
	width: 100%;
	padding: 20px 0;
}

#register-article {
	width: 900px;
	height: 100%;
	margin: 30px auto 100px;
	border: 1px solid #cccccc;
	border-radius: 3px;
	padding: 50px 50px;
}

.register-title {
text-align:center;
	width: 100%;
	height: 40px;
	line-height: 40px;
	vertical-align: middle;
	margin-bottom: 40px;
	color: rgb(58, 58, 58);
}

.register-subtitle {
	width: 100%;
	font-size: 1em;
	font-weight: bold;
	color: rgb(58, 58, 58);
	margin-bottom: 30px;
}

.register-input {
	margin: 10px 0;
	height: 40px;
	width: 100%;
	display: inline-block;
}

.register-input {
	font-size: 1.125em;
	width: 100%;
	border: none;
	border-bottom: 1.5px solid #cccccc;
	line-height: 40px;
	font-weight: bold;
}

.register-input:focus {
	outline: none;
	border-bottom: 2px solid black;
}

.register-subtitle {
	position: relative;
}

.register-util1 {
	position: absolute;
	right: 3px;
	top: 10px;
	bottom: 0;
}

#isDuplication {
	font-weight: bold;
	font-size: 1.125em;
	border: none;
	background-color: unset;
	cursor: pointer;
}

.register-submit {
	width: 100%;
	text-align: center;
}

#submit {
	text-align: center;
	font-weight: bold;
	border-radius: 7px;
	cursor: pointer;
	padding: 5px;
	background-color: #AFD485;
	width: 700px;
	height: 50px;
	margin: auto;
	
}